.movie-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); // 4 cards per row
  gap: 20px; // Space between movie cards
  padding: 20px;
}

.movie-card {
  flex: 1; // Each card takes an equal amount of space in the container
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;

  img {
    width: 100%;
    object-fit: cover;
  }
}
