.header-container {
  display: flex; 
  justify-content: space-between; 
  align-items: center;
  padding: 0 10px; // For space between the elements and the container's edges
  
  h4 {
    margin-right: 10px;   // Adds space to the right of the h4 if needed
  }

  h6 {
    margin-left: 10px;    // Adds space to the left of the h6 if needed
  }
}

.text-center {
  .row {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
  }

  .all-movies-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .all-movies-title {
      text-align: center;
      width: 100%;
    }
  }

  .movie-card-container {
    display: flex;
    flex-direction: row; // This makes sure they're arranged horizontally
    overflow-x: auto; // This will allow horizontal scrolling
    gap: 20px;
    width: 100%;
  
    // Each movie card should be able to flex and shrink to fit the container
    > div {
      flex: 0 0 auto;
    }
  }
  
}
